<!DOCTYPE HTML>
<html>
<head>
	<title>IM</title>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">    
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">    
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.mobile.flatui.css" />
</head>
<body>
<div data-role="page">
    <div data-role="panel" data-position="right" data-display="push" class="user_box text-center dn linear-g" id="panel-right">
        <div class="u_info">
            <img class="avatar" src="/static/images/avatar.png" alt="头像">
            <span class="username">developer</span>
        </div>
        <ul class="user_menu">
          <li class="menu"><a href="#"><span class="glyphicon glyphicon-cog"> </span> &nbsp;基本设置</a></li>
          <li class="menu"><a href="#"><span class="glyphicon glyphicon-lock"> </span> &nbsp;修改密码</a></li>
          <li class="menu"><a href="#"><span class="glyphicon glyphicon-picture"> </span> &nbsp;上传头像</a></li>
          <li class="menu"><a href="#"><span class="glyphicon glyphicon-off"> </span> &nbsp;安全退出</a></li>
        </ul>
    </div>
    <div data-role="content" class="container" role="main">
        <ul class="content-reply-box mg10" id="content-list">
        </ul>
        <ul class="content-reply-box mg10">
            <li>
                <div class="reply-content-box">
                    <div class="reply-content pr">
                    	<input type="text" style="width:100%;border:none;" id="input-field" placeholder="请输入..."/>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.mobile-1.4.0-rc.1.js"></script>
<script type="text/javascript">
	var parsedData = eval('(' + "{{pyobject}}" + ')');
	var from_user_id = parsedData.result.from_user_id;
	var to_user_id = parsedData.result.to_user_id;
	var from_user_name = parsedData.result.from_user_name;
	var to_user_name = parsedData.result.to_user_name;
	var last_id = 0;

	$(function(){
		$(document).on("keydown",function(e){
			if (event.keyCode == 13){
				var content = $("#input-field").val();
				if (content != '') {
				    $.post("/im/im/add",{from_user_id:from_user_id,to_user_id:to_user_id,content:content},function(data){
						data = eval('(' + data + ')');
				    	requestContactContent(from_user_id, to_user_id);
				    });
				}
				$("#input-field").val('');
		  	}
		});
		requestContactContent(from_user_id, to_user_id);
		setInterval(function(){
			requestContactContent(from_user_id, to_user_id);
		},100);
	});

	var requestContactContent = function(from,to){
		$.get("/im/im/getContactContent",{
			from_user_id:from,
			to_user_id:to,
			last_id:last_id
		},function(data){
			var $contentList = $("#content-list");
			// $contentList.empty();
			data = eval('(' + data + ')');
			for (var i = data.result.length-1; i >= 0; i--) {
				var item = data.result[i];
				var li;
				if (item.from_user_id === from) {
					li = "<li class='even'><a class='user' href='#'><img class='img-responsive avatar_' src='/static/images/avatar-1.png' alt='><span class='user-name'>"+from_user_name+"</span></a><div class='reply-content-box'><span class='reply-time'>"+item.create_on+"</span><div class='reply-content pr'><span class='arrow'>&nbsp;</span><pre>"+item.content+"</pre></div></div></li>";
				}else{
					li = "<li class='odd'><a class='user' href='#'><img class='img-responsive avatar_' src='/static/images/avatar-1.png' alt='><span class='user-name'>"+to_user_name+"</span></a><div class='reply-content-box'><span class='reply-time'>"+item.create_on+"</span><div class='reply-content pr'><span class='arrow'>&nbsp;</span><pre>"+item.content+"</pre></div></div></li>";
				}
				last_id = item.id;
				$contentList.append(li);
			};
			$('body').scrollTop($('body')[0].scrollHeight);
		}).error(function(e){
			console.log(e);
		});
	}
</script>
</body>
</html>