<!DOCTYPE html>
<html lang="en">
<head>
	<title>听</title>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">    
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">    
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.mobile.flatui.css" />
    <style>
	.route-list{
	}
    </style>
</head>
<body>
	<div id="main-container">
		<div class="container">
			<div class="row">
				<div class="col-md-1-1">
					<div style="min-height:45px;width:100%;margin:0;padding:0;background-color:rgba(255,255,255,1);z-index:9999;position:fixed;text-align:center;">
						<a href="javascript:void(0);" id="btn-nice">
							by: <span id="createor"></span>
	&nbsp;&nbsp;&nbsp;&nbsp;
							<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="top: 10px; right: 10px; font-size: 25px;"></span>赞 
						</a>
					</div>
					<img src="" id="content-image" class="img-responsive" alt="Responsive image"></img>
				</div>
			</div>
			<div class="row" id="audio-wrapper" style="display:none;">
				<div class="col-md-1-1">
					<audio src="" controls="controls" id="content-audio" style="width:100%;margin-top:10px;margin-bottom:10px;padding-left:10px;padding-right:10px;">
					</audio>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1-1">
					<div class="wall" style="padding:5px;">
						<p id="content-text" style="text-indent:2em;"></p>
					</div>
				</div>
			</div>
			<div class="row">
				<ul class="list-group" id="content-route">
				</ul>
			</div>

            <div style="text-align:center;margin-bottom:20px;">
				<a href="javascript:void(0);" class="btn btn-success" id="btn-contact">联系他</a>
            </div>
		</div>
	</div>
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script>
	var page_data = eval('(' + "{{pyobject}}" + ')');
	var message_id = page_data.result.id;
	var user_id = page_data.result.user_id;
	var to_user_id;
	$(function(){
		$("#btn-contact").on("click",function(){
			location.href="/im/im/index?from_user_id="+user_id+"&to_user_id="+to_user_id;
		});

		$("#btn-nice").on("click",function(){
			$.post("/message/message/nice",{id:message_id},function(data){
				alert("操作成功");
			});
		});
		
		$.get("/message/message/detail",{
			id:message_id,
		},function(data){
			data = eval('(' + data + ')');
			data = data.result;
			console.info(data);
			$("#createor").html(data.username);
			to_user_id = data.user_id;

			$("#content-text").html(data.content);
			for (var i = data.resources.length - 1; i >= 0; i--) {
				switch(data.resources[i].resource_type){
					case 1:
						$("#content-image").attr("src",data.resources[i].url);
						break;
					case 2:
						$("#audio-wrapper").fadeIn();
						$("#content-audio").attr("src",data.resources[i].url);
						break;
					default:
						break;
				}
			};

			for (var i = 0; i < data.routes.length; i++) {
				var content = '<a href="/route/route/route_detail?route_id='+data.routes[i].id+'"> <li class="list-group-item route-list">推荐线路'+ i +'号</li> </a>'; 
				$("#content-route").append(content); 
			};
		});
	});
	</script>
</body>
</html>