<!DOCTYPE HTML>
<html>
<head>
	<title>创建路线</title>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">    
    <link rel="stylesheet" type="text/css" href="/static/css/album.css">
</head>
<body>
<div id="map">
	<div id="baidu_map"></div>
</div>
<div id="album">
	<ul id="image_list">
		{% set image_list = pyobject.get("result", {}).get("image_list", []) %}
		{% for image_info in image_list %}
		<li>
			<div>
				{{image_info}}
				<img image_id="{{image_info["id"]}}" lon="{{image_info.get("longitude", "")}}" lat="{{image_info.get("latitude", "")}}" src="{{image_info.get("url", "")}}">
			</div>
		</li>
		{% end %}
		<!-- http://imglf1.nosdn.127.net/img/UzhkNHIvRmZUelZINmRQVmlYZU56bGRlV09QSXFRdWtjczJrNEVEMWI3MU1zcU1Ta29tRFpnPT0.jpg?imageView&thumbnail=500x0&quality=96&stripmeta=0&type=jpg -->
		<div class="clear"></div>
	</ul>
	<div id="global_item">[]</div>
	<div><input role="button" class="form-control btn btn-default" id="save" type="button" value="创建线路" /></div>
</div>
<div id="global_user_id">{{pyobject.get("result", {}).get("user_id", "")}}</div>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=nyyisBU10lusc09r43iPCptM"></script>
<script type="text/javascript"> 
	var map = new BMap.Map("map");          // 创建地图实例  
	var point = new BMap.Point(120.030007, 30.286301);  // 创建点坐标  
	map.centerAndZoom(point, 15);                 // 初始化地图，设置中心点坐标和地图级别  
	map.enableScrollWheelZoom();

	// var marker = new BMap.Marker(point);    
	// map.addOverlay(marker);    

	// draw line
// 	var polyline = new BMap.Polyline([
// 		new BMap.Point(120.030007, 30.286301),
// 		new BMap.Point(120.062121, 30.296301),
// //		new BMap.Point(120.042523, 30.272120)
// 	], {strokeColor:"blue", strokeWeight:2, strokeOpacity:0.5});
// 	map.addOverlay(polyline);

	function add_marker(point){
		var marker = new BMap.Marker(point);
		map.addOverlay(marker);
	}

	function draw_line_list(point_list){
		point_list_to_draw = []
		for (var i = point_list.length - 1; i >= 0; i--) {
			point_ = point_list[i];
			point_to_draw = new BMap.Point(point_[0], point_[1]);
			add_marker(point_to_draw);
			point_list_to_draw.push(point_to_draw);
		};
		var polyline = new BMap.Polyline(point_list_to_draw, {strokeColor:"blue", strokeWeight:2, strokeOpacity:0.5});
		map.addOverlay(polyline);
		map.setViewport(point_list_to_draw);
	};
	// draw_line_list([[120.030007, 30.286301], [120.062121, 30.296301], [120.042523, 30.272120]]);
	// draw_line_list([[120.030007, 30.286301]]);

	// // 随机向地图添加10个标注
	// var bounds = map.getBounds();    
	// var lngSpan = bounds.maxX - bounds.minX;    
	// var latSpan = bounds.maxY - bounds.minY;    
	// for (var i = 0; i < 10; i ++) {    
	// 	var point = new BMap.Point(bounds.minX + lngSpan * (Math.random() * 0.7 + 0.15),    
	//                             bounds.minY + latSpan * (Math.random() * 0.7 + 0.15));    
	// 	addMarker(point, i);
	// }
</script>
<script type="text/javascript">
	function get_image_list(){
		var id_list = [];
		$("#image_list > li > .checked > img").each(function(){
			id_list.push($(this).attr("image_id"));
		});
		return id_list
	}
	function repaint() {
		// get location list
		location_list = [];
		$("#image_list > li > .checked > img").each(function() {
			location_list.push([parseFloat($(this).attr("lon")), parseFloat($(this).attr("lat"))]);
		});
		map.clearOverlays();
		draw_line_list(location_list);
	}
	$(function (){
		// load image
		$("#image_list > li > div").on('click', function(){
			if($(this).hasClass("checked")) {
				$(this).removeClass("checked");
			}
			else{
				$(this).addClass("checked");
			}
			repaint();
		});
		$("#save").click(function(){
			var user_id = $("#global_user_id").html();
			id_list = get_image_list();
			var url = "/route/route/add";
			$.post(url, {"user_id": user_id, "resources": id_list.join()}, function(data){
				// $("#global_item").html(data);
				data = JSON.parse(data);
				route_id = data.result;
				// alert(route_id);
				location.href="/weige/?route_id=" + route_id;
			});
		});
	})
</script>
</body>
</html>