<!DOCTYPE HTML>
<html>
<head>
	<title>创建路线</title>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">    
    <link rel="stylesheet" type="text/css" href="/static/css/route.css">
</head>
<body>
<div id="map">
</div>
<div id="global_markers" style="display:none;">{{pyobject.get("result", {}).get("resources", [])}}</div>
<div id="global_user_id" style="display:none;">{{pyobject.get("result", {}).get("user_id", "")}}</div>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=nyyisBU10lusc09r43iPCptM"></script>
<script type="text/javascript"> 
	var map = new BMap.Map("map");          // 创建地图实例  
	var point = new BMap.Point(120.030007, 30.286301);  // 创建点坐标  
	map.centerAndZoom(point, 15);                 // 初始化地图，设置中心点坐标和地图级别  
	map.enableScrollWheelZoom();

	// var marker = new BMap.Marker(point);
	// map.addOverlay(marker);
	function add_marker(point, mark_time) {
		var opts = {
		  	width : 200,     // 信息窗口宽度
		  	height: 100,     // 信息窗口高度
		  	title : "" , // 信息窗口标题
		  	enableMessage:true,//设置允许信息窗发送短息
		  	message:"亲耐滴，晚上一起吃个饭吧？戳下面的链接看下地址喔~"
		};
		var infoWindow = new BMap.InfoWindow(mark_time, opts);
		var marker = new BMap.Marker(point);
		marker.addEventListener("click", function(){          
			map.openInfoWindow(infoWindow, point); //开启信息窗口
		});
		map.addOverlay(marker);
	}


	// draw line
	{% set markers = pyobject.get("result", {}).get("resources", []) %}
	var point_list = [
	{% for marker in markers %}
		new BMap.Point({{marker.get("longitude", "")}}, {{marker.get("latitude", "")}}),
	{% end %}
	];
	var mark_time_list = [
	{% for marker in markers %}
		'{{marker.get("create_on", "")}}',
	{% end %}
	]
	for (var i = point_list.length - 1; i >= 0; i--) {
		add_marker(point_list[i], mark_time_list[i]);
	};
	var polyline = new BMap.Polyline(point_list, {strokeColor:"blue", strokeWeight:2, strokeOpacity:0.5});
	map.addOverlay(polyline);
	map.setViewport(point_list);

	
	// function draw_line_list(point_list){
	// 	point_list_to_draw = []
	// 	for (var i = point_list.length - 1; i >= 0; i--) {
	// 		point_ = point_list[i];
	// 		point_to_draw = new BMap.Point(point_[0], point_[1]);
	// 		add_marker(point_to_draw);
	// 		point_list_to_draw.push(point_to_draw);
	// 	};
	// 	var polyline = new BMap.Polyline(point_list_to_draw, {strokeColor:"blue", strokeWeight:2, strokeOpacity:0.5});
	// 	map.addOverlay(polyline);
	// 	map.setViewport(point_list_to_draw);
	// };
	// draw_line_list([[120.030007, 30.286301], [120.062121, 30.296301], [120.042523, 30.272120]]);
	// draw_line_list([[120.030007, 30.286301]]);

	// // 随机向地图添加10个标注
	// var bounds = map.getBounds();    
	// var lngSpan = bounds.maxX - bounds.minX;    
	// var latSpan = bounds.maxY - bounds.minY;    
	// for (var i = 0; i < 10; i ++) {    
	// 	var point = new BMap.Point(bounds.minX + lngSpan * (Math.random() * 0.7 + 0.15),    
	//                             bounds.minY + latSpan * (Math.random() * 0.7 + 0.15));    
	// 	addMarker(point, i);
	// }
</script>
<script type="text/javascript">
</script>
</body>
</html>